<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>乐淘</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="assets/mui/css/mui.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/cart.css">
	<link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
	<script src="assets/mui/js/mui.js"></script>
	<script src="assets/zepto/zepto.min.js"></script>
	<script src="assets/artTemplate/template-native.js"></script>
	<script src="js/cart.js"></script>
  <script src="js/base.js"></script>
</head>
<body>
	<header class="lt-header mui-bar mui-bar-nav">
			<h1 class="mui-title">购物车</h1>
	</header>
  <nav class="mui-bar mui-bar-tab lt-footer">
			<a class="mui-tab-item" href="index.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="category.html">
				<span class="mui-icon mui-icon mui-icon-bars"></span>
				<span class="mui-tab-label">分类</span>
			</a>
			<a class="mui-tab-item" href="cart.html">
				<span class="mui-icon fa fa-shopping-cart"></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item" href="user.html">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">会员中心</span>
			</a>
	</nav>
	<div class="pay">已选择：3件，共1100元</div>
	<div class="mui-content" id="goodsContent">
		<div>
			<ul class="mui-table-view" id="goodsList">
				
			</ul>
		</div>
	</div>
<script type="text/html" id="artTempl">
	<% for(let i = 0; i < data.length; i++) {%>
  <li class="mui-table-view-cell mui-media">
 		<div class="mui-slider-right mui-disabled">
			<span class="mui-btn mui-btn-blue eidt-btn" data-id="<%= data[i].id %>" data-allSize="<%= data[i].productSize %>">编辑</span>
			<span class="mui-btn mui-btn-red delete-btn" data-id="<%= data[i].id %>">删除</span>
		</div>
    <div class="mui-media-body mui-slider-handle lt-address">
	    <div class="mui-input-row mui-checkbox mui-left lt-chekcbox">
			  <input name="checkbox1" value="Item 1" type="checkbox">
			</div>
			<div>
	    	<img class="mui-media-object mui-pull-left" src="<%= data[i].pic[0].picAddr%>">
	    	<%= data[i].proName%>
	        <p class='mui-ellipsis'>
	        	<span>价格： <%= data[i].price %></span>
	        	<span>数量：<%= data[i].num %></span>
	        	<span >尺寸：<%= data[i].size %></span>
	        </p>

    </div>
	</li>
	<% } %>
</script>
<script type="text/html" id="artTempl2">
    <div class="size-wrapper" id="size-wrapper">
        <span class="size-title">尺寸：</span>
        <% var size = allSize.split('-')%>
        <% for(var i = size[0]; i<= size[1]; i++){ %>
        <span class="size-item"><%= i %></span>
        <% } %>
      </div>
</script>
</body>
</html>