<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>乐淘-商品管理</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/system.css">
	<script src="assets/jquery/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/artTemplate/template-native.js"></script>
	<script src="assets/jquery-fileupload/jquery.ui.widget.js"></script>
	<script src="assets/jquery-fileupload/jquery.iframe-transport.js"></script>
	<script src="assets/jquery-fileupload/jquery.fileupload.js"></script>
	<script src="js/common.js"></script>
	<script src="js/product.js"></script>
</head>
<body>
	<div class="system">
		<div class="aside">
			<div class="profile">
				<div class="avatar img-circle">
					<img src="images/my_logo.jpg">
				</div>
				<h4>张学友</h4>
			</div>
			<div class="navs">
				<ul class="list-unstyled">
					<li>
						<a href="user.html">
							<i class="fa fa-user"></i>
							用户管理
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<i class="fa fa-bars"></i>
							分类管理
							<i class="fa fa-angle-right"></i>
						</a>
						<ul class="list-unstyled">
							<li>
								<a href="category-first.html">一级分类管理</a>
							</li>
							<li>
								<a href="category-second.html">二级分类管理</a>
							</li>
						</ul>
					</li>
					<li class="active">
						<a href="product.html">
							<i class="fa fa-product-hunt"></i>
							商品管理
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="header">
	            <nav class="navbar navbar-custom">
	                <div class="navbar-header">
	                    <a href="javascript:;" class="navbar-brand">
	                        <i class="fa fa-navicon"></i>
	                    </a>
	                </div>
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="javascript:;" class="login_out_bot">
	                            <i class="fa fa-sign-out"></i> 退出
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	        </div>
	        <div class="body">
	        	<button class="operation btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="addCategory">添加商品</button>
	        	<!-- 商品类表 -->
	        	<table class="table table-bordered" id="productWrapper">

	        	</table>
	        	<!-- 商品类表 end -->
	        	<div class="btn-group page">
	        		<div class="btn btn-default" id="prevBtn">上一页</div>
	        		<div class="btn btn-default" id="nextBtn">下一页</div>
	        	</div>
	        </div>
		</div>
	</div>
	
	<div class="modal fade bs-example-modal-lg">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
	    		<h4 class="modal-title" id="myLargeModalLabel">添加商品</h4>
	    		<div class="alert alert-warning" id="warnMessage" style="display: none;"></div>
	    	</div>
	    	<div class="modal-body">
	    		<form method="post">
		    		<!-- 品牌类表 -->
		    		<div class="form-group" >
							<select class="form-control" name="brandId" id="brandWrapper">
							</select>
		    		</div>
		    		<!-- 品牌列表 -->
		    		<div class="form-group">
		    			<input id="productName" type="text" class="form-control" placeholder="请输入产品名称" name="productName">
		    		</div>
		    		<div class="form-group">
		    			<input id="productDescription" type="text" class="form-control" placeholder="请输入产品描述" name="description">
		    		</div>
		    		<div class="form-group">
		    			<input id="productNum" type="text" class="form-control" placeholder="请输入产品数量" name="productNum">
		    		</div>
		    		<div class="form-group">
		    			<input id="productSize" type="text" class="form-control" placeholder="请输入产品尺码,如29-39" name="productSize">
		    		</div>
		    		<div class="form-group">
		    			<input id="productPrice" type="text" class="form-control" placeholder="请输入产品价格" name="productPrice">
		    		</div>
		    		<div class="form-group">
		    			<input id="productOriginPrice" type="text" class="form-control" placeholder="请输入产品原价" name="productOriginPrice">
		    		</div>
		    		<div class="form-group">
						最多上传三张图片
		    		</div>
		    		<div class="form-group" style="display: flex; justify-content: space-around;">
		    		   <div class="upload" style="position: relative; min-height: 150px; width: 100%;">
									<img src="images/none.jpg" style="position: absolute;top: 0; left: 0; width: 95%; height: 100%;" id="img1">
		    		      <input type="file" accept="image/jpeg" data-url="/product/addProductPic1" id="fileUpload1" name="pic1" style="opacity: 0; position: absolute; top: 0; left: 0;  width: 95%;  height: 100%">
		    		   </div>
		    		   <div class="upload" style="position: relative; min-height: 100%; width: 100%;">
									<img src="images/none.jpg" style="position: absolute;top: 0; left: 0; width: 95%; height: 100%;" id="img2">
		    		      <input type="file" accept="image/jpeg" data-url="/product/addProductPic2" id="fileUpload2" name="pic2" style="opacity: 0; position: absolute; top: 0; left: 0;  width: 95%; height: 100%">
		    		   </div>
		    		   <div class="upload" style="position: relative; min-height: 100%; width: 100%;">
									<img src="images/none.jpg" style="position: absolute;top: 0; left: 0; width: 95%; height: 100%;" id="img3">
		    		      <input type="file" accept="image/jpeg" data-url="/product/addProductPic3" id="fileUpload3" name="pic3" style="opacity: 0; position: absolute; top: 0; left: 0;  width: 95%;  height: 100%">
		    		   </div>
		    		</div>
		    		</form>
	    	</div>
	    	<div class="modal-footer">
	    		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	    		<button type="button" class="btn btn-primary" id="save">添加</button>
	    	</div>
	    </div>
	  </div>
	</div>

	<script id="productTpl" type="text/html">
		<tr>
			<th>商品编号</th>
			<th>商品名称</th>
			<th>商品描述</th>
			<th>商品库存</th>
			<th>商品尺寸</th>
			<th>是否下架</th>
			<th>操作</th>
		</tr>
		<% for(let i = 0; i < data.length; i ++ ) { %>
			<tr>
				<td><%=data[i].id %></td>
				<td><%=data[i].proName %></td>
				<td><%=data[i].proDesc %></td>
				<td><%=data[i].num %></td>
				<td><%=data[i].size %></td>
				<td><%=data[i].statu == 1 ? '上架商品' : '下架商品'  %></td>
				<td>
					<button type="button" class="btn <%=data[i].statu ? 'btn-danger' : 'btn-success'%>"><%= data[i].statu == 1 ? '下架' : '上架' %></button>
				</td>
			</tr>
		<% } %>
	</script>

	<script id="brandTpl" type="text/html">
			<option value="-1">-- 请选择品牌 --</option>
		  <% for(let i = 0; i < data.length; i++) {%>
				<option value="<%=data[i].categoryId %>"><%=data[i].brandName %></option>
			<% } %>
	</script>
</body>
</html>